/* Below is overriding of tailwindcss */

pre[class*="language-"] {
    border-radius: 0px !important;
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Above is overriding of tailwindcss */

.md-section>h3 {
    margin-top: 0.6rem !important;
}

.scroll-top {
    scroll-margin-top: 0.3rem;
}

.custom-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    max-height: calc(100vh - 75px);
    overflow-y: scroll;
}

.article-custom-scroll {
    max-height: calc(100vh - 82px);
    overflow-y: scroll;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
    font-style: normal;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after,
.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: '';
}

p.custom-code {
    @apply px-2 md:pl-4 text-base;
}

p small {
    @apply pt-4 px-2 md:px-4 font-normal md:text-base;
}

.custom-block {
    @apply mx-2 bg-slate-50 mb-4;
}

.content h4 {
    margin-top: 1.5rem;
    @apply text-violet-600 pl-2 md:pl-4;
}

.definition {
    @apply border-violet-200 border-l-8 bg-violet-500 border-l-violet-900 text-white tracking-wide font-semibold p-4;
}

.custom-code code {
    padding: 2px 5px;
    background: hsl(0deg 0% 35% / 30%);
    border-radius: 4px;
    color: #000;
}

@media screen and (max-width: 845px) {
    .custom-grid {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
}

@media screen and (max-width: 745px) {
    .custom-grid {
        display: block;
    }

    .sidebar {
        display: none;
    }
}